openai
streamlit
google-auth
google-auth-oauthlib
google-cloud-aiplatform
google-auth-httplib2
numpy
pandas
google-generativeai
pillow
imageio
opencv-python-headless
python-dotenv
openpyxl
python-docx
# Core Dependencies
PyPDF2
langchain
langchain-google-genai
google-generativeai
pytesseract
tesseract
# Vector Store
faiss-cpu  # or faiss-gpu if you have access to GPU on Hugging Face

