openai
streamlit
google-auth
google-auth-oauthlib
google-cloud-aiplatform
google-auth-httplib2
numpy
pandas
google-generativeai
opencv-python
python-dotenv
pillow
imageio
opencv-python-headless
